.gradient-custom {
    /* fallback for old browsers */
    background: #5d0d9b;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top left, rgb(95, 11, 160), rgba(246, 243, 255, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top left, rgb(85, 11, 141), rgb(186, 178, 211))
    }